body{
    text-align: center;
}
header{
    background: rgb(87,58,180);
background: linear-gradient(90deg, rgba(87,58,180,1) 20%, rgba(190,56,56,1) 80%, rgba(252,117,69,1) 100%);
    padding: 10px;
}
header h2{
    color: aliceblue;
}
nav ul li{
    display: inline;
    padding: 15px;
margin-left:10px;
border: 3px solid blue;

background-color:blue;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
#Bio h2{

background-color:#1db6fd;
}

#Home img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
padding:10px;
background: rgb(135,58,180);
background: linear-gradient(90deg, rgba(135,58,180,1) 0%, rgba(29,253,113,1) 79%, rgba(252,117,69,1) 100%);
}
#Home p{
    word-spacing: 10px;
}
#PortFolio{
    background-color:#1db6fd;
    padding: 10px;

}
li{
    display: inline;
    padding: 10px;
}
footer{
    background-color: black;
    padding: 20px;
}
footer p{
    color: aliceblue;
}
#Bio pre{
    line-height:20px;
    word-spacing: 5px;
}